wakatime/
spacemacs.d/node_modules/
spacemacs.d/package-lock.json
.spacemacs.env
spacemacs.d/.spacemacs.env
/iterm2-theme-changer/Pipfile.lock
/.DS_Store
/configstore/
/gtk-2.0/
/htop/
/karabiner/automatic_backups/
/spotify-tui/
/telepresence/
/neofetch
/oh-my-zsh
/spacemacs.d
/vim
/op
/gatsby/
/mongocli.toml
/iterm2/AppSupport
/Unreal Engine/
Quixel
/gh/
.gitconfig
karabiner.json
/doom.d/custom.el
/spicetify-themes/
/spicetify/Themes/
/spicetify/Extracted/
/spicetify/Backup/
/scripts/.DS_Store
/direnv/
**/flycheck_*
*.DS_Store
/secrets/
