*

INVERT
.jfk-bubble.gtx-bubble

CSS
.vimvixen-hint {
	background-color: ${#ffd76e} !important;
	border-color: ${#c59d00} !important;
	color: ${#302505} !important;
}

.vimiumHintMarker, .internalHintMarker {
	background-image: none !important;
	background-color: #B48EAD !important;
	box-shadow: none !important;
}

.vimiumHintMarker {
	border-color: #BF616A !important;
}

.vimiumReset span {
	color: white !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8) !important;
}


a {
	color: #A3BE8C !important;
}

::placeholder {
	opacity: 0.5 !important;
}
